---
---

<div class="relative flex items-center gap-x-4">
  <div class="px-2 text-lg leading-6">
    <h1 class="font-semibold text-primary text-xl dark:text-white">
      <span class="absolute inset-0"></span>
      XMASWISH
    </h1>
    <p class="text-zinc-200 dark:text-zinc-200">Santa Claus Might Need an Upgrade!</p>
  </div>
</div>
