---
import {contractAddress} from "../data/data.json"
---

<div class="flex my-8 items-center justify-center">
    <div class="relative w-full overflow-hidden">
        <div class="block">
            <div class="px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-white">Contract Address</h2>
                    <p class="mt-4 text-sm text-white font-light lg:text-xl mb-8">{contractAddress}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h2{
        font-family: "IndustryBlack", sans-serif !important;
    }
</style>