---
import Card from "./Card.astro";
---
<h2 class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white mb-2">
    How to Buy
</h2>
<div class="mx-auto grid grid-cols-1 lg:grid-cols-4 gap-4">
    <div class="">
        <Card
                href="https://phantom.app/"
                title="Create Wallet"
                body="Download phantom or your wallet of choice from the app store or google play for free. desktop users: download the google chrome extension by going to phantom."
                cta="GET PHANTOM"
        >
        </Card>
    </div>
    <div class="">
        <Card
                href="https://phantom.app/"
                title="Get Some SOL"
                body="Have sol in your wallet to switch to $XMASWISH. if you don't have any sol, you can buy directly on phantom, transfer from another wallet, or buy on another exchange and send it to your wallet."
                cta="BUY SOL"
        >
        </Card>
    </div>
    <div class="">
        <Card
                href="https://jup.ag/swap/SOL-Df6yfrKC8kZE3KNkrHERKzAetSxbrWeniQfyJY4Jpump"
                title="Go to Jupiter"
                body="Connect to jupiter. connect your wallet in chrome, paste the $chillguy token address, select trade, and confirm. when phantom prompts you for a wallet signature, sign."
                cta="BUY NOW"
        >
        </Card>
    </div>
    <div class="">
        <Card
                href="https://jup.ag/swap/SOL-Df6yfrKC8kZE3KNkrHERKzAetSxbrWeniQfyJY4Jpump"
                title="Swap for $XMASWISH"
                body="Switch sol for $XMASWISH. we have zero taxes so you don't need to worry about buying with a specific slippage. if you don't have any sol, you can buy directly on phantom."
                cta="SWAP NOW"
        >
        </Card>
    </div>
</div>